# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List of Data Science languages
- List of Data Science tools
- Basic Markown

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. sklearn

| Data Science Tools                |
|-----------------------------------|
| Jupyter Notebook                  |
| RStudio                           |
| Visual Studio Code                |

### Below are a few examples of evaluating arithmetic expressions in Python

1. 1+1
2. (2+2)*3

In [3]:
#  This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author

Leonardo Antunes Barreto Noman